.header {
  color: white;
  background-color: var(--dark-color);
  height: 100px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--shadow);
  box-sizing: border-box;
}

.logo img {
  height: 30px;
  display: flex;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}


.search{
  display: flex;
  flex-shrink: 0;
}


.active {
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--main-color);
  color: var(--bright-color);
  box-shadow: var(--shadow);

}

.activeProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--main-color);
  color: var(--bright-color);
  box-shadow: var(--shadow);

}

.unActive {
  text-decoration: none;
  color: var(--bright-color);
  margin: 0 15px;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.unActiveProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.unActive:hover {
  text-decoration: none;
  background-color: var(--main-color);
  margin: 0 15px;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.unActiveProfile:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--main-color);
  color: var(--bright-color);
  box-shadow: var(--shadow);
}

.header a {
  color: var(--bright-color);
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: var(--dark-color);
  color: var(--bright-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  margin: 0 15px;
  width: 100px;
  transition: all 0.3s ease;
}

.menu .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  height: auto;
}

.menu .option div {
  margin-left: 8px;
  white-space: nowrap;
}

.optionTitle {
  flex-grow: 1;
}

.menu .option:hover {
  background-color: var(--main-color);
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.menuList{
  display: flex;
  flex-direction: row;
}

.hamburger{
  display: none;
}



.sideMenu {

  display: none;
}



@media (max-width: 768px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .search {
    display: none;
  }

  .menuList {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .sideMenu {
    position: fixed;
    top: 100px;
    left: -100%;
    height: 100%;
    width: 50%;
    background-color: var(--dark-color);
    color: var(--bright-color);
    box-shadow: var(--shadow);
    transition: left 0.3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .sideMenu.open {
    left: 0;
  }

  .sideMenu a, .sideMenu .option {
    margin: 10px 0;
    width: calc(100% - 20px); /* Ensure elements stay within the side menu */
  }

  .sideMenu .option {
    display: flex;
    align-items: center;
  }

  .optionTitle {
    margin-left: 8px;
  }

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    height: auto;
    width: 100%;
  }
  
  .option div {
    margin-left: 8px;
    white-space: nowrap;
  } 
  
  .optionTitle {
    flex-grow: 1;
  }
  
  .option:hover {
    background-color: var(--main-color);
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
}
