@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200;500;800&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






.list{
    width: 100%;
    min-width: 500px;
}











.leftSide {
    display: flex;
    align-items: center; /* ממרכז את התוכן באופן אנכי */
}

.rightSide {
    display: flex;
    align-items: center; /* ממרכז את התוכן באופן אנכי */
    justify-content: flex-end;
}

.song {
    color: white;
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    justify-content: space-between; /* מרחיק את האלמנטים אחד מהשני */
    align-items: center; /* ממרכז את התוכן באופן אנכי */
}

.song:hover {
    background-color: rgb(64, 71, 67);
    cursor: pointer;
}

.song:active {
    background-color: rgb(77, 107, 86);
}

.artistAndName {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artistAndName > .name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5%;
}

.artistAndName > .artist {
    font-size: 14px;
    font-weight: 100;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    overflow: hidden;
}

.likeAndTime {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}








.liked{
    color: white;
    font-size: 12px;
}